@{
    ViewData["Title"] = "Sesión cerrada";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="col py-2">
    <h3 class="fw-bold fs-2 mb-3">Has cerrado sesión</h3>
    <a class="btn btn-primary btn-sm text-white" asp-action="Login">Iniciar Sesión</a>
</div>


