<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Title"] - Sistema_CIN</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/custom.css" asp-append-version="true"/>
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" asp-append-version="true" />

</head>

<body>
    <div class="wrapper">

        <!----------SIDEBAR NAV--------->
        <aside id="sidebar">

            <!----------LOGO NAV--------->
            <div class="d-flex">
                <button class="toggle-btn" type="button">
                    <i class="fa-solid fa-bars"></i>
                </button>
                <div class="sidebar-logo">

                    <div class="dropdown">


                        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle hide" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="true">
                            <img src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png" alt="" width="32" height="32" class="rounded-circle me-2">
                            <strong>Administrador</strong>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark text-small hide" aria-labelledby="dropdownUser1" data-popper-placement="top-start" style="position: absolute; inset: auto auto 0px 0px; margin: 0px; transform: translate(0px, -34px);">
                            <li><a class="dropdown-item" href="#">Perfil</a></li>

                            <li>
                                <a>
                                    <div class="form-check form-switch form-check-reverse">
                                        <label class="form-check-label" for="flexSwitchCheckReverse">Modo oscruo</label>
                                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckReverse">
                                        
                                    </div>
                                </a>
                            </li>

                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <a href="#" class="dropdown-item">Salir</a>
                            </li>


                           
                        </ul>

                    </div>


                </div>
            </div><!----------LOGO NAV--------->
            <!----------MODULOS NAV--------->
            <ul class="sidebar-nav">
                <!----------MODULO INICIO NAV--------->
                <li class="sidebar-item mb-2">
                    <a href="#" class="sidebar-link">
                        <a asp-controller="Home" asp-action="Index" class="sidebar-link">
                            <i class="lni lni-home"></i>

                            <span>Inicio</span>
                        </a>
                    </a>
                </li>
                <!----------MODULO MANTENIMIENTO NAV--------->
                <li class="sidebar-item mb-2">
                    <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                       data-bs-target="#mant" aria-expanded="false" aria-controls="mant">
                        <i class="lni lni-cogs"></i>
                        <span>Mantenimiento</span>
                    </a>
                    <ul id="mant" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a asp-controller="Personal" asp-action="Index" class="sidebar-link">Personal</a>
                        </li>
                        <li class="sidebar-item">
                            <a asp-controller="PME" asp-action="Index" class="sidebar-link">PME</a>
                        </li>
                        <li class="sidebar-item">
                            <a asp-controller="Encargado" asp-action="Index" class="sidebar-link">Encargados</a>

                        </li>

                    </ul>
                </li>

                <!----------MODULO ADMINISTRAR NAV--------->
                <li class="sidebar-item mb-2">
                    <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                       data-bs-target="#admin" aria-expanded="false" aria-controls="admin">
                        <i class="lni lni-user"></i>
                        <span>Administrar</span>
                    </a>
                    <ul id="admin" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a asp-controller="Usuarios" asp-action="Index" class="sidebar-link">Usuarios</a>
                        </li>
                        <li class="sidebar-item">
                            <a asp-controller="Roles" asp-action="Index" class="sidebar-link">Roles</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">Permisos</a>
                        </li>
                    </ul>
                </li>
                <!----------MODULO REPORTES NAV--------->
                <li class="sidebar-item mb-2">
                    <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                       data-bs-target="#reportes" aria-expanded="false" aria-controls="reportes">
                        <i class="lni lni-agenda"></i>
                        <span>Reportes</span>
                    </a>
                    <ul id="reportes" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">Personal</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">PME</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">Encargados</a>
                        </li>
                    </ul>
                </li>

                <!----------MODULO AYUDA NAV--------->
                <li class="sidebar-item mb-2">
                    <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                       data-bs-target="#help" aria-expanded="false" aria-controls="help">
                        <i class="lni lni-question-circle"></i>
                        <span>Ayuda</span>
                    </a>
                    <ul id="help" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">Abrir Manual PDF</a>
                        </li>
                    </ul>
                </li>
                <!----------MODULO ACERCA DE NAV--------->
                <li class="sidebar-item mb-2">
                    <a href="#" class="sidebar-link">
                        <i class="lni lni-information"></i>
                        <span>Acerca de</span>
                    </a>
                </li>


            </ul><!----------END MODULOS NAV--------->
            <!----------CERRAR SESION NAV--------->
            <div class="sidebar-footer">
                <a href="#" class="sidebar-link text-danger">
                    <i class="lni lni-exit"></i>
                    <span>Cerrar Sesión</span>
                </a>
            </div>
        </aside>
        <!----------END SIDEBAR NAV--------->

        <div class="main">

            <!----------NAV HEADER--------->
            <nav class="navbar navbar-expand px-4 py-3 bg-white">
                <div class="d-flex">
                    <div class="sidebar-logo">
                        <a href=""><img class="logo" src="~/images/Screenshot 2024-03-16 160647.png" /></a>
                    </div>
                </div>
            </nav>

            <div class="row my-4 mx-2">

                <div class="col-lg-1 col-md-1">
                </div>


                <main class="col-lg-10 col-md-10">
                    @RenderBody()
                </main>


                <div class="col-lg-1 col-md-1">
                </div>

            </div>

            <footer class="footer py-4 border-top mt-auto">
                <div class="container-fluid">
                    <div class="row text-secondary">
                        <div class="col-6 text-start">
                            <a class="text-secondary" href="">
                                <strong>SISTEMA CIN</strong>
                            </a>
                        </div>
                        <div class="col-6 text-end text-primary">
                            &copy; 2024 - Sistema_CIN - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </div>
                    </div>
                </div>
            </footer>

        </div>
    </div>

    <script src="https://kit.fontawesome.com/80d7803e22.js" crossorigin="anonymous"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/script.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>

