<!DOCTYPE html>

<html lang="es">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reporte</title>
    <link rel="stylesheet" href="~/css/custom.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/reportes.css" asp-append-version="true" />
</head>
<body>
   
        @RenderBody()
</body>
</html>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>