@model Sistema_CIN.Models.Personal

@{
	ViewData["Title"] = "Edit";
}
<h3 class="fw-bold fs-4 mb-3">Mantenimiento > Editar Personal</h3>
<div>
	<a class="btn btn-outline-secondary" asp-action="Index">Volver</a>
</div>
<hr class="mt-4"/>

<form class="mt-2" asp-action="Edit">
    <input type="hidden" asp-for="IdPersonal"/>
    <div class="row mt-4">

        <!--------Columna izquerda ---------->
        <div class="col-lg-6 col-md-12 col-sm-12">
            
            <!-------Cedula de Personal-------->
            <div class="mb-4 row">
                <label asp-for="CedulaP" class="col-lg-4 col-md-3 col-sm-12 col-form-label">Cédula</label>
                <div class="col-lg-8 col-md-9 col-sm-12">
                    <input asp-for="CedulaP" class="form-control disabled" readonly/>
                    <span asp-validation-for="CedulaP" class="text-danger"></span>
                </div>
            </div>
            <!-------Nombre de Personal-------->
            <div class="mb-4 row">
                <label asp-for="NombreP" class="col-lg-4 col-md-3 col-sm-12 col-form-label">Nombre</label>

                <div class="col-lg-8 col-md-9 col-sm-12">
                    <input asp-for="NombreP" class="form-control" placeholder="Nombre" />
                    <div asp-validation-summary="ModelOnly" class="alerta text-danger" role="alert"></div>
                    <span asp-validation-for="NombreP" class="text-danger"></span>
                </div>
            </div>

            <!-------Apellidos Personal-------->
            <div class="mb-4 row">
                <label asp-for="ApellidosP" class="col-lg-4 col-md-3 col-sm-12 col-form-label">Apellidos</label>
                <div class="col-lg-8 col-md-9 col-sm-12">
                    <input asp-for="ApellidosP" class="form-control" placeholder="Apellido1  Apellido2" />
                    <span asp-validation-for="ApellidosP" class="text-danger"></span>
                </div>
            </div>

            
            

            <!-------Correo de Personal-------->
            <div class="mb-4 row">
                <label asp-for="CorreoP" class="col-lg-4 col-md-3 col-sm-12 col-form-label">Correo electrónico</label>
                <div class="col-lg-8 col-md-9 col-sm-12">
                    <input asp-for="CorreoP" class="form-control" placeholder="empleado@ejemplo.com" />
                    <span asp-validation-for="CorreoP" class="text-danger"></span>
                </div>
            </div>

            <!-------Telefono de Personal-------->
            <div class="mb-4 row">
                <label asp-for="TelefonoP" class="col-lg-4 col-md-3 col-sm-12 col-form-label">Teléfono</label>
                <div class="col-lg-8 col-md-9 col-sm-12">

                    <input asp-for="TelefonoP" class="form-control"/>
                    <span asp-validation-for="TelefonoP" class="text-danger"></span>
                </div>
            </div>

            <!-------Puesto de Personal-------->
            <div class="mb-4 row">
                <label asp-for="IdRol" class="col-lg-4 col-md-3 col-sm-12 col-form-label">Puesto</label>
                <div class="col-lg-8 col-md-9 col-sm-12">
                    <select asp-for="IdRol" class="form-select" asp-items="ViewBag.IdRol">
                    </select>
                    <span asp-validation-for="IdRol" class="text-danger"></span>
                </div>
            </div>



        </div>


        <!--------Columna derecha ---------->
        <div class="col-lg-6 col-md-12 col-sm-12">

            <div class="mb-4 row">
                <label asp-for="FechaNaceP" class="col-lg-4 col-md-3 col-sm-12 col-form-label">Fecha de Nacimiento</label>
                <div class="col-lg-8 col-md-9 col-sm-12">
                    <input type="date" asp-for="FechaNaceP" class="form-control" />
                    <span asp-validation-for="FechaNaceP" class="text-danger"></span>
                </div>
            </div>

            <div class="mb-4 row">
                <label asp-for="EdadP" class="col-lg-4 col-md-3 col-sm-12 col-form-label">Edad</label>
                <div class="col-lg-8 col-md-9 col-sm-12">
                    <input asp-for="EdadP" class="form-control" placeholder="Edad" />
                    <span asp-validation-for="EdadP" class="text-danger"></span>
                </div>
            </div>

            <div class="mb-4 row">
                <label asp-for="GeneroP" class="col-lg-4 col-md-3 col-sm-12 col-form-label">Genero</label>
                <div class="col-lg-8 col-md-9 col-sm-12">
                    <select asp-for="GeneroP" class="form-select">
                        <option value="No encontrado">-- Seleccione el género --</option>
                        <option value="Masculino">Masculino</option>
                        <option value="Femenino">Femenino</option>
                    </select>
                    <span asp-validation-for="GeneroP" class="text-danger"></span>
                </div>
            </div>


            <div class="mb-4 row">
                <label asp-for="ProvinciaP" class="col-lg-4 col-md-3 col-sm-12 col-form-label">Provincia</label>
                <div class="col-lg-8 col-md-9 col-sm-12">
                    <select asp-for="ProvinciaP" class="form-select">
                        <option>Selecciona provincia</option>
                        <option value="San José">San José</option>
                        <option value="Heredia">Heredia</option>
                        <option value="Cartago">Cartago</option>
                        <option value="Alajuela">Alajuela</option>
                        <option value="Limón">Limón</option>
                        <option value="Puntarenas">Puntarenas</option>
                        <option value="Guanacaste">Guanacaste</option>
                    </select>
                    <span asp-validation-for="ProvinciaP" class="text-danger"></span>
                </div>
            </div>


            <div class="mb-4 row">
                <label asp-for="CantonP" class="col-lg-4 col-md-3 col-sm-12 col-form-label">Cantón</label>
                <div class="col-lg-8 col-md-9 col-sm-12">
                    <input asp-for="CantonP" class="form-control" placeholder="Cantón" />
                    <span asp-validation-for="CantonP" class="text-danger"></span>
                </div>
            </div>

            <div class="mb-4 row">
                <label asp-for="DistritoP" class="col-lg-4 col-md-3 col-sm-12 col-form-label">Distrito</label>
                <div class="col-lg-8 col-md-9 col-sm-12">
                    <input asp-for="DistritoP" class="form-control" placeholder="Distrito" />
                    <span asp-validation-for="DistritoP" class="text-danger"></span>
                </div>
            </div>

        </div>

    </div>

    <div class="col-auto mt-4">

        <button type="submit" class="btn btn-primary btn-sm me-3 text-white">Aplicar  <i class="fa-solid fa-cloud-arrow-up"></i></button>
       

    </div>

</form>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}

    <script>
        // Espera 3 segundos (3000 milisegundos) antes de ocultar la alerta
        setTimeout(function () {
            const alertaDiv = document.querySelector('.alerta');
            if (alertaDiv) {
                alertaDiv.style.display = 'none';
            }
        }, 3000);

        document.addEventListener('DOMContentLoaded', function () {

            calcularEdad('FechaNaceP', 'EdadP');

        });
    </script>

}
