@model Sistema_CIN.Models.Encargado

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Encargado</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="cedula_e" class="control-label"></label>
                <input asp-for="cedula_e" class="form-control" />
                <span asp-validation-for="cedula_e" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="responsable_de" class="control-label"></label>
                <input asp-for="responsable_de" class="form-control" />
                <span asp-validation-for="responsable_de" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nombre_e" class="control-label"></label>
                <input asp-for="nombre_e" class="form-control" />
                <span asp-validation-for="nombre_e" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="apellidos_e" class="control-label"></label>
                <input asp-for="apellidos_e" class="form-control" />
                <span asp-validation-for="apellidos_e" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="edad_e" class="control-label"></label>
                <input asp-for="edad_e" class="form-control" />
                <span asp-validation-for="edad_e" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="direccion_e" class="control-label"></label>
                <input asp-for="direccion_e" class="form-control" />
                <span asp-validation-for="direccion_e" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="telefono_e" class="control-label"></label>
                <input asp-for="telefono_e" class="form-control" />
                <span asp-validation-for="telefono_e" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="correo_e" class="control-label"></label>
                <input asp-for="correo_e" class="form-control" />
                <span asp-validation-for="correo_e" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lugar_trabajo_e" class="control-label"></label>
                <input asp-for="lugar_trabajo_e" class="form-control" />
                <span asp-validation-for="lugar_trabajo_e" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
