@model Sistema_CIN.Models.Encargado

@{
    ViewData["Title"] = "Edit";
}

<h3 class="fw-bold fs-4 mb-3">Mantenimiento > Editar Encargado</h3>
<div>
    <a class="btn btn-outline-secondary" asp-action="Index">Volver</a>
</div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger">N.Cédula</div>
            <input type="hidden" asp-for="IdEncargado" />
            <div class="form-group">
                <label asp-for="CedulaE" class="control-label">N.Cédula</label>
                <input asp-for="CedulaE" class="form-control" />
                <span asp-validation-for="CedulaE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResponsableDe" class="control-label">Responsable de</label>
                <input asp-for="ResponsableDe" class="form-control" />
                <span asp-validation-for="ResponsableDe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreE" class="control-label">Nombre</label>
                <input asp-for="NombreE" class="form-control" />
                <span asp-validation-for="NombreE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApellidosE" class="control-label">Apellidos</label>
                <input asp-for="ApellidosE" class="form-control" />
                <span asp-validation-for="ApellidosE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaNaceE" class="control-label">Fecha Naciemiento</label>
                <input asp-for="FechaNaceE" class="form-control" />
                <span asp-validation-for="FechaNaceE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Edad" class="control-label">Edad</label>
                <input asp-for="Edad" class="form-control" />
                <span asp-validation-for="Edad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CorreoE" class="control-label">Correo Electrónico</label>
                <input asp-for="CorreoE" class="form-control" />
                <span asp-validation-for="CorreoE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DireccionE" class="control-label">Dirección</label>
                <input asp-for="DireccionE" class="form-control" />
                <span asp-validation-for="DireccionE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TelefonoE" class="control-label">N.Teléfono</label>
                <input asp-for="TelefonoE" class="form-control" />
                <span asp-validation-for="TelefonoE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LugarTrabajoE" class="control-label">Lugar de Trabajo</label>
                <input asp-for="LugarTrabajoE" class="form-control" />
                <span asp-validation-for="LugarTrabajoE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdPme" class="control-label">ID PME</label>
                <select asp-for="IdPme" class="form-control" asp-items="ViewBag.IdPme"></select>
                <span asp-validation-for="IdPme" class="text-danger"></span>
            </div>
            <div class="form-group">
                <br>
                <button type="submit" class="btn btn-danger">Guardar   <i class="fa-solid fa-floppy-disk"></i> </button>
                <input type="reset" value="Limpiar" class="btn btn-outline-danger" />

            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
