@model Sistema_CIN.Models.Usuario

@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <h3 class="fw-bold fs-4">Administrar > Registrar Usuario</h3>

    <div class="my-3">
        <a class="btn btn-outline-secondary btn-sm" asp-action="Index">Volver</a>
    </div>
    <form class="col-lg-6 col-md-12 col-sm-12" asp-action="Create">

        <!-------Nombre de Usuario-------->
        <div class="mb-3 row">
            <label asp-for="NombreU" class="col-lg-4 col-md-3 col-sm-12 col-form-label">Nombre de Usuario</label>
            <div class="col-lg-8 col-md-9 col-sm-12">
                <input asp-for="NombreU" class="form-control" placeholder="nombre del usuario" />
                <span asp-validation-for="NombreU" class="text-danger"></span>
            </div>
        </div>
        <!-------Correo-------->
        <div class="mb-3 row">
            <label asp-for="CorreoU" class="col-lg-4 col-form-label">Correo Electrónico</label>
            <div class="col-lg-8">
                <input type="email" asp-for="CorreoU" class="form-control" placeholder="correo@ejemplo.com" />
                <div asp-validation-summary="ModelOnly" class="alerta text-danger" role="alert"></div>
                <span asp-validation-for="CorreoU" class="text-danger"></span>
            </div>
        </div>

        <!-------Clave-------->
        <div class="mb-3 row">
            <label asp-for="Clave" class="col-lg-4 col-form-label">Contraseña</label>
            <div class="col-lg-8">
                <input type="password" asp-for="Clave" class="form-control" placeholder="contraseña" />
                <span asp-validation-for="Clave" class="text-danger"></span>
            </div>
        </div>
        <!------- confirmar Clave-------->
        <div class="mb-3 row">
            <label asp-for="ConfirmacionClave" class="col-lg-4 col-form-label">Confirmar contraseña</label>
            <div class="col-lg-8">
                <input type="password" asp-for="ConfirmacionClave" class="form-control" placeholder="confirmar contraseña" />
                <span asp-validation-for="ConfirmacionClave" class="text-danger"></span>
            </div>
        </div>

        <!------- ROL -------->
        <div class="mb-3 row">
            <label asp-for="NombreRolU" class="col-lg-4 col-form-label">Rol</label>
            <div class="col-lg-8">
                <select asp-for="NombreRolU" class="form-select" asp-items="ViewBag.IdRol">
                    <option>-- Seleccione un rol --</option>
                </select>
                <span asp-validation-for="NombreRolU" class="text-danger"></span>
            </div>
        </div>
       

        <!------- ESTADO -------->
        <div class="mb-3 row">
            <label asp-for="EstadoU" class="col-lg-4 col-form-label">Estado</label>
            <div class="col-lg-8">
                <select asp-for="EstadoU" class="form-select">

                    <option value=true selected>Habilitado</option>
                    <option value=false>Inhabilitado</option>
                </select>
                <span asp-validation-for="EstadoU" class="text-danger"></span>
            </div>
        </div>
        

        <div class="mt-5">

            <button type="submit" class="btn btn-primary btn-sm me-3 text-white">Registrar  <i class="fa-solid fa-cloud-arrow-up"></i></button>
            <button type="reset" class="btn btn-outline-danger btn-sm">Limpiar</button>

        </div>
    </form>

 




</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        // Espera 3 segundos (3000 milisegundos) antes de ocultar la alerta
        setTimeout(function () {
            const alertaDiv = document.querySelector('.alerta');
            if (alertaDiv) {
                alertaDiv.style.display = 'none';
            }
        }, 3000);
    </script>

}
