@model Sistema_CIN.Models.Usuario

@{
    ViewData["Title"] = "Create";
}


<h3 class="fw-bold fs-4">Administrar > Registrar Usuario</h3>

<div class="mb-5">
    <a class="btn btn-secondary btn-sm" asp-action="Index">Volver</a>
</div>

<form asp-action="Create">
    <div class="row">
        <div class="col-lg-3 col-md-12 col-sm-12">
            <!-- Profile picture card-->
            <div class="card mb-4 mb-xl-0">
                <div class="card-header">Foto de Perfil</div>
                <div class="card-body text-center">
                    <!-- Profile picture image-->

                    <img class="img-fluid img-account-profile img-thumbnail rounded-circle mb-2" src="~/images/Default_Profile_photo.jpg" alt="">
                    <!-- Profile picture help block-->
                    <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
                    <!-- Profile picture upload button-->
                    @*<input asp-for="FotoU" type="file" class="form-control">*@
                    @*<span asp-validation-for="FotoU" class="text-danger"></span>*@
                </div>
            </div>
        </div>


        <div class="col-lg-9 col-md-12 col-sm-12">
            <div class="card">


               <div class="card-header mb-3">Datos del Usuario</div>
                <div class="card-body px-4">
                    <div asp-validation-summary="ModelOnly" class="alerta text-danger" role="alert"></div>
                    <!-------Nombre de Usuario-------->
                    <div class="mb-4 row">
                        <label asp-for="NombreU" class="col-lg-4 col-md-3 col-sm-12 col-form-label">Nombre de Usuario</label>
                        <div class="col-lg-8 col-md-9 col-sm-12">
                            <input asp-for="NombreU" class="form-control" placeholder="nombre del usuario" />
                            <span asp-validation-for="NombreU" class="text-danger"></span>
                        </div>
                    </div>
                    <!-------Correo-------->
                    <div class="mb-4 row">
                        <label asp-for="CorreoU" class="col-lg-4 col-form-label">Correo Electrónico</label>
                        <div class="col-lg-8">
                            <input type="email" asp-for="CorreoU" class="form-control" placeholder="correo@ejemplo.com" />
                            
                            <span asp-validation-for="CorreoU" class="text-danger"></span>
                        </div>
                    </div>

                    <!-------Clave-------->
                    <div class="mb-4 row">
                        <label asp-for="Clave" class="col-lg-4 col-form-label">Contraseña</label>
                        <div class="col-lg-8">
                            <input type="password" asp-for="Clave" class="form-control" placeholder="contraseña" />
                            <span asp-validation-for="Clave" class="text-danger"></span>
                        </div>
                    </div>
                  

                    <!------- ROL -------->
                    <div class="mb-4 row">
                        <label asp-for="IdRol" class="col-lg-4 col-form-label">Rol</label>
                        <div class="col-lg-8">
                            <select asp-for="IdRol" class="form-select" asp-items="ViewBag.IdRol">
                                <option>Seleccione un Rol</option>
                            </select>
                            <span asp-validation-for="IdRol" class="text-danger"></span>
                        </div>
                    </div>


                    <!------- ESTADO -------->
                    <div class="mb-4 row">
                        <label asp-for="EstadoU" class="col-lg-4 col-form-label">Estado</label>
                        <div class="col-lg-8">
                            <select asp-for="EstadoU" class="form-select">

                                <option>Seleccione Acceso</option>
                                <option value="true">Habilitado</option>
                                <option value="false">Inhabilitado</option>
                            </select>
                            <span asp-validation-for="EstadoU" class="text-danger"></span>
                        </div>
                    </div>

                </div>

            </div>
        </div>


        <div class="mt-5">

            <button type="submit" class="btn btn-primary btn-sm me-3 text-white">Registrar  <i class="fa-solid fa-cloud-arrow-up"></i></button>
            <button type="reset" class="btn btn-outline-danger btn-sm">Limpiar</button>

        </div>
    </div>
</form>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        // Espera 3 segundos (3000 milisegundos) antes de ocultar la alerta
        setTimeout(function () {
            const alertaDiv = document.querySelector('.alerta');
            if (alertaDiv) {
                alertaDiv.style.display = 'none';
            }
        }, 3000);
    </script>

}
