@model Sistema_CIN.Models.Usuario

@{
    ViewData["Title"] = "Create";
}



<h1>Create</h1>

<h4>Usuario</h4>
<hr />

<form asp-action="Create">

    <!-------FILA-------->
    <div class="row g-3 align-items-center mb-3">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="col-auto">
            <!-------LABEL-------->
            <label asp-for="ImagenU" class="control-label"></label>
        </div>
        <div class="col-auto">
            <!-------INPUT-------->
            <input asp-for="ImagenU" class="form-control" />
            <span asp-validation-for="ImagenU" class="text-danger"></span>
        </div>

    </div> <!-------FILA-------->
    <div class="form-group">
        <label asp-for="NombreU" class="control-label"></label>
        <input asp-for="NombreU" class="form-control" />
        <span asp-validation-for="NombreU" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CorreoU" class="control-label"></label>
        <input asp-for="CorreoU" class="form-control" />
        <span asp-validation-for="CorreoU" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Clave" class="control-label"></label>
        <input asp-for="Clave" class="form-control" />
        <span asp-validation-for="Clave" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NombreRolU" class="control-label"></label>
        <input asp-for="NombreRolU" class="form-control" />
        <span asp-validation-for="NombreRolU" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EstadoU" class="control-label"></label>
        <input asp-for="EstadoU" class="form-control" />
        <span asp-validation-for="EstadoU" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="IdRol" class="control-label"></label>
        <select asp-for="IdRol" class="form-control" asp-items="ViewBag.IdRol"></select>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>


</form>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
