@model Sistema_CIN.Models.Roles

@{
    ViewData["Title"] = "Create";
}

<h3 class="fw-bold fs-4">Administrar > Registrar Rol</h3>

    <div class="my-3">
        <a class="btn btn-outline-secondary btn-sm" asp-action="Index">Volver</a>
    </div>


<form asp-action="Create" class="my-4 ">


    <div class="row g-3 align-items-center mb-3">
        <div class="col-auto">
            <label asp-for="NombreRol" class="col-form-label">Nombre del Rol</label>
        </div>
        <div class="col-auto">
            <input asp-for="NombreRol" type="text" class="form-control" placeholder="Nombre del Rol" required>
        </div>

    </div>

    <div asp-validation-summary="ModelOnly" class="alerta text-danger" role="alert"></div>


    <div class="col-auto mt-5">

        <button type="submit" class="btn btn-primary btn-sm me-3 text-white">Registrar  <i class="fa-solid fa-cloud-arrow-up"></i></button>
        <button type="reset" class="btn btn-outline-danger btn-sm">Limpiar</button>

    </div>
</form>
    


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        // Espera 3 segundos (3000 milisegundos) antes de ocultar la alerta
        setTimeout(function () {
            const alertaDiv = document.querySelector('.alerta');
            if (alertaDiv) {
                alertaDiv.style.display = 'none';
            }
        }, 3000);
    </script>
}
