@model IEnumerable<Sistema_CIN.Models.Role>

@{
    ViewData["Title"] = "Index";
}

<div class="row">

    <div class="col-lg-8">


        <h3 class="fw-bold fs-4">Administrar > Roles</h3>

        <p class="my-4">
            <a class="btn btn-outline-success btn-sm" asp-action="Create">Añadir <i class="fa-solid fa-plus"></i></a>
        </p>
        <table class="table table-striped">
            <thead>
                <tr class="highlight">
                    <th scope="col">ID</th>
                    <th scope="col">Nombre del Rol</th>
                    <th scope="col">Editar</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdRol)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NombreRol)
                        </td>
                        <td>
                            <a class="btn btn-success btn-sm" asp-action="Edit" asp-route-id="@item.IdRol"><i class="fa-regular fa-pen-to-square"></i></a>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="my-3">
            <a class="btn btn-outline-secondary btn-sm" asp-action="Index">Volver</a>
        </div>

    </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


@section Scripts{
    @if (TempData["SuccessMessage"] != null)
    {

        <script>registroExito("@TempData["SuccessMessage"]");</script>
    }
   

}



