@{
    ViewData["Title"] = "Inicio";
}


<!----------MAIN--------->

<div class="mb-3">
    <h3 class="fw-bold fs-4 mb-3">Inicio > Resumen Contadores</h3>

    <div class="row">
        <!----------EMPIEZA CONTADORES--------->
        <!----------PERSONAL--------->
        <div class="col-lg-3 col-md-6 col-sm-12 mb-4 ">

            <div class="border rounded bg-secondary">
                <div class="row align-items-center">

                    <div class="col-12 col-md-4 ">
                        <div class="card-body">
                            <a href="#" class="display-4">
                                <i class="fa-solid fa-users-between-lines text-light"></i>
                            </a>
                        </div>
                    </div>

                    <div class="col-12 col-md-8">
                        <div class="card-body bg-light">
                            <h5 class="mb-2 fw-bold">
                                Personal
                            </h5>
                            <p class="mb-2 fw-bold">
                                Total: 1
                            </p>
                            <div class="mb-0">
                                <a href="#" class="nav-link text-secondary">

                                    <span>Más detalles</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!----------PME--------->
        <div class="col-lg-3 col-md-6 col-sm-12 mb-4 ">

            <div class="border rounded bg-secondary">
                <div class="row align-items-center">

                    <div class="col-12 col-md-4 ">
                        <div class="card-body">
                            <a href="#" class="display-4">
                                <i class="fa-solid fa-children text-light"></i>
                            </a>
                        </div>
                    </div>

                    <div class="col-12 col-md-8">
                        <div class="card-body bg-light">
                            <h5 class="mb-2 fw-bold">
                                Menores de Edad
                            </h5>
                            <p class="mb-2 fw-bold">
                                Total: 1
                            </p>
                            <div class="mb-0">
                                <a href="#" class="nav-link text-secondary">

                                    <span>Más detalles</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!----------ENCARGADOS--------->
        <div class="col-lg-3 col-md-6 col-sm-12 mb-4 ">

            <div class="border rounded bg-secondary">
                <div class="row align-items-center">

                    <div class="col-12 col-md-4 ">
                        <div class="card-body">
                            <a href="#" class="display-4">
                                <i class="fa-solid fa-person-breastfeeding text-light"></i>
                            </a>
                        </div>
                    </div>

                    <div class="col-12 col-md-8">
                        <div class="card-body bg-light">
                            <h5 class="mb-2 fw-bold">
                                Encargados
                            </h5>
                            <p class="mb-2 fw-bold">
                                Total: 1
                            </p>
                            <div class="mb-0">
                                <a href="#" class="nav-link text-secondary">

                                    <span>Más detalles</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!----------USUARIOS--------->
        <div class="col-lg-3 col-md-6 col-sm-12 mb-4 ">

            <div class="border rounded bg-secondary">
                <div class="row align-items-center">

                    <div class="col-12 col-md-4 ">
                        <div class="card-body">
                            <a href="#" class="display-4">
                                <i class="fa-solid fa-users text-light"></i>
                            </a>
                        </div>
                    </div>

                    <div class="col-12 col-md-8">
                        <div class="card-body bg-light">
                            <h5 class="mb-2 fw-bold">
                                Usuarios
                            </h5>
                            <p class="mb-2 fw-bold">
                                Total: 1
                            </p>
                            <div class="mb-0">
                                <a href="#" class="nav-link text-secondary">

                                    <span>Más detalles</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div><!----------END CONTADORES--------->

    <hr class="my-5">
    <h3 class="fw-bold fs-4 my-3">Tabla de ejemplo</h3>
    <div class="row">
        <div class="col-12">
            <table class="table table-striped">
                <thead>
                    <tr class="highlight">
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>twitter</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


