@model IEnumerable<Sistema_CIN.Models.CIN_pruebaContext>

@{
    ViewData["Title"] = "Inicio";
}

@{
    int personalCount = ViewData["PersonalCount"] != null ? (int)ViewData["PersonalCount"] : 0;
    int pmeCount = ViewData["PmeCount"] != null ? (int)ViewData["PmeCount"] : 0;
    int encargadosCount = ViewData["EncargadosCount"] != null ? (int)ViewData["EncargadosCount"] : 0;
    int usuariosCount = ViewData["UsuariosCount"] != null ? (int)ViewData["UsuariosCount"] : 0;
}

<!----------MAIN--------->
<h3 class="fw-bold fs-4 mb-3">Inicio > Resumen Contadores</h3>
<div class="mb-3">
    

    <div class="row mt-4">
        <!----------EMPIEZA CONTADORES--------->
        <!----------PERSONAL--------->
        <div class="col-lg-3 col-md-6 col-sm-12 mb-4 ">

            <div class="card mb-3 shadow" style="max-width: 540px;">


                <div class="row g-0">

                    <div class="col-4 d-flex align-items-center justify-content-center bg-secondary">
                        <i class="fa-solid fa-users-between-lines display-4 text-center p-2 text-white"></i>
                    </div>

                    <div class="col-8">
                        <div class="card-body">
                            <h5 class="card-title fw-bold">Personal</h5>
                            <p class="card-text">Total  <span class="text-success">@personalCount</span></p>
                            <p class="card-text">
                                <a asp-controller="Personal" asp-action="Index" class="nav-link text-secondary">

                                    <span>Más detalles</span>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <!----------PME--------->
        <div class="col-lg-3 col-md-6 col-sm-12 mb-4 ">

            <div class="card mb-3 shadow" style="max-width: 540px;">


                <div class="row g-0">

                    <div class="col-4 d-flex align-items-center justify-content-center bg-secondary">

                        <i class="fa-solid fa-children display-4 text-center p-2 text-white"></i>
                    </div>

                    <div class="col-8">
                        <div class="card-body">
                            <h5 class="card-title fw-bold">PMEs</h5>
                            <p class="card-text">Total  <span class="text-success">@pmeCount</span></p>
                            <p class="card-text">
                                <a asp-controller="PME" asp-action="Index" class="nav-link text-secondary">

                                    <span>Más detalles</span>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!----------ENCARGADOS--------->
        <div class="col-lg-3 col-md-6 col-sm-12 mb-4 ">

            <div class="card mb-3 shadow" style="max-width: 540px;">


                <div class="row g-0">

                    <div class="col-4 d-flex align-items-center justify-content-center bg-secondary">

                        <i class="fa-solid fa-person-breastfeeding display-4 text-center p-2 text-white"></i>
                    </div>

                    <div class="col-8">
                        <div class="card-body">
                            <h5 class="card-title fw-bold">Encargados</h5>
                            <p class="card-text">Total  <span class="text-success">@encargadosCount</span></p>
                            <p class="card-text">
                                <a asp-controller ="Encargados" asp-action="Index" class="nav-link text-secondary">

                                    <span>Más detalles</span>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
        <!----------USUARIOS--------->
        <div class="col-lg-3 col-md-6 col-sm-12 mb-4 ">

            <div class="card mb-3 shadow" style="max-width: 540px;">


                <div class="row g-0">

                    <div class="col-4 d-flex align-items-center justify-content-center bg-secondary">

                        <i class="fa-solid fa-users display-4 text-center p-2 text-white"></i>
                    </div>

                    <div class="col-8">
                        <div class="card-body">
                            <h5 class="card-title fw-bold">Usuarios</h5>
                            <p class="card-text">Total  <span class="text-success">@usuariosCount</span></p>
                            <p class="card-text">
                                <a asp-controller="Usuarios" asp-action="Index" class="nav-link text-secondary">

                                    <span>Más detalles</span>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!----------END CONTADORES--------->

    <hr class="my-5">
    <h3 class="fw-bold fs-4 my-3">Tabla de ejemplo</h3>
    <div class="row">
        <div class="col-12">
            <table class="table table-striped">
                <thead>
                    <tr class="highlight">
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>twitter</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


