@model Sistema_CIN.Models.RolesPermisos

@{
    ViewData["Title"] = "Editar Roles y Permisos";

}
<div class="row my-2">


    <div class="col py-2">
        <h3 class="fw-bold fs-4 mb-3">Administrar > Editar Roles</h3>
        <a class="btn btn-secondary btn-sm" asp-action="Index">Volver</a>
    </div>


    <div asp-validation-summary="ModelOnly" class="alert alert-danger col" role="alert"></div>

</div>

<form method="post" asp-action="Edit">
    <div class="row mt-4">
        <div class="col-lg-6 col-sm-12">
            <div class="mb-4 row">
                <label class="col-lg-4 col-md-3 col-sm-12 col-form-label">Nombre Rol<span class="text-danger">*</span></label>
                <div class="col-lg-8 col-md-9 col-sm-12">
                    <input asp-for="Rol.NombreRol" class="form-control" placeholder="Nombre del Rol" />
                    <span asp-validation-for="Rol.NombreRol" class="text-danger"></span>
                    <input name="operacionesPorModulo[6][Ver]" class="form-check-input" type="hidden" value="true" id="verCheckbox" checked>
                </div>
            </div>
        </div>

        @if (Model.Modulos != null)
        {
            <h4 class="fw-bold fs-5 my-3">Permisos</h4>

            @foreach (var modulo in Model.Modulos)
            {
                <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                    <div class="border rounded bg-light p-2">
                        <h4 class="fw-bold fs-6 my-3">@modulo.NombreModulo</h4>
                 
                        <div class="ms-3">
                            @foreach (var operacion in Model.Operaciones)
                            {
                                if (operacion.IdModulo == modulo.IdModulo)
                                {
                                    var checkedState = Model.RolOperaciones.Any(ro => ro.IdOp == operacion.IdOp) ? "checked" : "";
                                    <div class="form-check">
                                        <input name="OperacionesPorModulo[@modulo.IdModulo][@operacion.NombreOp]" class="form-check-input" type="checkbox" value="true" id="chk_@modulo.IdModulo@operacion.NombreOp" @(checkedState)>
                                        <label class="form-check-label" for="chk_@modulo.IdModulo@operacion.NombreOp">@operacion.NombreOp</label>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <p>No se encontraron módulos.</p>
        }
    </div>

    <button type="submit" class="btn btn-primary btn-sm">Guardar <i class="fa-solid fa-floppy-disk"></i></button>
</form>






@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        // Espera 3 segundos (3000 milisegundos) antes de ocultar la alerta
        setTimeout(function () {
            const alertaDiv = document.querySelector('.alert');
            if (alertaDiv) {
                alertaDiv.style.display = 'none';
            }
        }, 3000);
    </script>

    <script>
        // Añade el evento onchange a todos los checkboxes con la clase .todos-checkbox
        document.querySelectorAll('.todos-checkbox').forEach(function (checkbox) {
            checkbox.addEventListener('change', function () {
                // Encuentra el módulo asociado a este checkbox
                var modulo = this.getAttribute('id').replace('todosCheckbox', '');
                // Marca o desmarca todos los checkboxes del módulo según el estado del checkbox "Todos"
                document.querySelectorAll('input[data-idModulo="' + modulo + '"]').forEach(function (cb) {
                    cb.checked = checkbox.checked;
                });
            });
        });

        // Añade el evento onchange a todos los checkboxes con la clase .operacion-checkbox
        document.querySelectorAll('.operacion-checkbox').forEach(function (checkbox) {
            checkbox.addEventListener('change', function () {
                // Encuentra el módulo asociado a este checkbox
                var modulo = this.getAttribute('data-idModulo');
                // Si algún checkbox de operación se desmarca, desmarca el checkbox "Todos" correspondiente
                document.querySelector('#todosCheckbox' + modulo).checked = false;
            });
        });
    </script>

}

