@model IEnumerable<Sistema_CIN.Models.BitacoraIngresoSalidas>

@{
    ViewData["Title"] = "Index";
}
<style>
    .icon {
        font-size: 12px; 
    }
</style>

<h3 class="fw-bold fs-4 mb-3">Bitácoras > Ingresos y Salidas > Usuarios</h3>

<hr class="mb-4"/>

<div class="mb-5">
    <a class="btn btn-secondary btn-sm me-3" asp-controller="Home" asp-action="Index">Volver</a>

    <button class="btn btn-primary btn-sm text-white" onclick="recargarPagina()">Actualizar  <i class="fa-solid fa-rotate"></i></button>
</div>

<body>
    
    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Usuario
                </th>
                <th>
                    Fecha ingreso
                </th>
                <th>
                    Fecha Salida
                </th>
                <th>
                    Estado
                </th>
             
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                
                <tr>
                    <th>
                        @Html.DisplayFor(modelItem => item.IdBitacora)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.UsuarioB)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaIngreso)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaSalida)
                    </td>
                    <td>

                        @{
                            if (item.EstadoActual == 1)
                            {
                                <text><span class="text-success"><i class="fa-solid fa-circle icon"></i> Conectado</span></text>
                            }
                            else
                            {

                                <text><span class="text-danger"><i class="fa-solid fa-circle icon"></i> Desconectado</span></text>
                            }


                        }

                    </td>

                </tr>
            }
        </tbody>
    </table>
    <div asp-validation-summary="ModelOnly" class="" role="alert"></div>
</body>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

        
    }
    <script>
        function recargarPagina(){
            location.reload();
        }
    </script>

    i
}
